<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      [!] 登録エラー : <%= @user.errors.count %>項目
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
