<footer class="footer">
  <small>
    作った人 : <a href="http://twitter.com/hama_du" target="_blank">@hama_du</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "ホーム", root_path  %></li>
      <li><%= link_to "ヘルプ", help_path %></li>
    </ul>
  </nav>
</footer>