<footer class="footer">
  <small>
    <a href="http://www.glossarymaker.com/">Glossary Maker</a>
    by <a href="http://twitter.com/hama_du">@hama_du</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "ホーム",   '#' %></li>
      <li><%= link_to "ヘルプ", '#' %></li>
      <li><%= link_to "連絡先", '#' %></li>
    </ul>
  </nav>
</footer>