<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "用語集メーカー", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "ホーム",    '#' %></li>
          <li><%= link_to "ヘルプ",    '#' %></li>
          <li><%= link_to "ログイン", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
