<% if @view_mode and @view_mode == 'glossary' %>
  <% if @words.length >= 1 %>
    <div class="word_index">
      <ul>
        <% @words.each do |entry| %>
        <li><a href="#<%= entry[0] %>"><%= entry[0] %></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
