<% if @words and @glossary %>
  <div class="container">
    <header class="jumbotron subhead" id="overview">
      <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
          <li><a href="javascript:void(0);" onclick="glossary_word_edit('<%= new_word_path(@glossary.name) %>');">[+]</a></li>
          <li><a href="#star">*</a></li>
          <% @words.each do |entry| %>
            <li><a href="#<%= to_id(entry[0]) %>"><%= entry[0] %></a></li>
          <% end %>
        </ul>
      </div>
    </header>
  </div>
<% end %>

